{{> head }}



    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Trabajar por objetivos</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis, nam cumque, dolor officiis magnam saepe ipsa omnis modi, repellat quam illum optio? Libero sed voluptatum eaque iure consectetur totam.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/tpo.jpg" class="img-thumbnail">           
        </div>
    </div>


    {{>footer }}